@use "../util/" as *;

.feature {
  &__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include breakpoint-desktop(medium) {
      flex-direction: row;
    }

    &.egg {
      .feature__text {
        @include breakpoint-desktop(medium) {
          order: 1;
        }

        a {
          &::after {
            background-color: var(--yellow);
          }
        }
      }
      .feature__image {
        order: 2;
      }
    }

    &.cup {
      .feature__text {
        @include breakpoint-desktop(medium) {
          order: 2;
        }

        a {
          &::after {
            background-color: var(--softRed);
          }
        }
      }
      .feature__image {
        order: 1;
      }
    }

    &--services {
      .service {
        height: rem(500);
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: rem(30);

        @include breakpoint-desktop(medium) {
          padding: rem(65);
        }

        .text {
          font-size: rem(16);
          line-height: 1.4;
          //   max-width: rem(340);
        }
      }
      .feature__graphics {
        background: url(".././images/mobile/image-graphic-design.jpg") no-repeat
          center/cover;
        @include breakpoint-desktop(medium) {
          background: url(".././images/desktop/image-graphic-design.jpg")
            no-repeat center/cover;
        }
        &--text {
          color: var(--dsCyan);
        }
      }

      .feature__photography {
        background: url(".././images/mobile/image-photography.jpg") no-repeat
          center/cover;
        @include breakpoint-desktop(medium) {
          background: url(".././images/desktop/image-photography.jpg") no-repeat
            center/cover;
        }
        &--text {
          color: var(--darkBlue);
        }
      }
    }
  }

  &__text {
    // margin: rem(55) 0;
    padding: rem(30) rem(13);
    text-align: center;

    @include breakpoint-desktop(medium) {
      width: 50%;
      text-align: left;
      padding: rem(20) rem(20);
    }

    @include breakpoint-desktop(large) {
      padding: rem(20) rem(51) rem(20) rem(128);
    }

    h2 {
      font-size: rem(35);
      @include breakpoint-desktop(medium) {
        font-size: rem(25);
        width: 90%;
      }
      @include breakpoint-desktop(large) {
        font-size: rem(37);
      }
    }

    p {
      color: var(--grayishBlue);
      font-size: rem(16);
      line-height: 1.4;
      margin-bottom: rem(30);

      @include breakpoint-desktop(medium) {
        width: 100%;
      }
      @include breakpoint-desktop(large) {
        font-size: rem(18);
      }
    }

    a {
      position: relative;
      font-family: "Fraunces", sans-serif;
      font-size: rem(15);
      color: var(--vDsBlue);
      text-decoration: underline;
      text-transform: uppercase;
      &::after {
        display: block;
        content: "";
        position: absolute;
        top: rem(11);
        left: rem(-4);
        width: 108%;
        height: rem(7);
        opacity: 0.6;
        border-radius: 10px;
        z-index: -1;
      }

      @include breakpoint-desktop(large) {
        font-size: rem(18);
      }
    }
  }

  &__image {
    @include breakpoint-desktop(medium) {
      width: 50%;
    }
    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
}
