@use "../util" as *;

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: rem(30) auto;
  padding: rem(30) rem(15);
  @include breakpoint-desktop(medium) {
    margin: rem(50) auto;
  }
  h2 {
    font-size: rem(14);
    color: var(--grayishBlue);
    letter-spacing: 6px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: rem(30);
    @include breakpoint-desktop(medium) {
      font-size: rem(17);
      margin-bottom: rem(75);
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @include breakpoint-desktop(medium) {
      grid-template-columns: repeat(3, 1fr);
      width: 85%;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 rem(10);

    img {
      border-radius: 50%;
      width: rem(75);
      margin-bottom: rem(20);
      @include breakpoint-desktop(medium) {
        margin-bottom: rem(45);
      }
    }

    p {
      color: var(--vGrayishBlue);
      font-size: rem(15);
      line-height: 1.55;
      margin-bottom: rem(20);

      @include breakpoint-desktop(large) {
        margin-bottom: rem(30);
        font-size: rem(17);
      }
    }

    h3 {
      font-size: rem(16);
      color: var(--vGrayishBlue);

      @include breakpoint-desktop(medium) {
        font-size: rem(19);
      }
      span {
        display: block;
        font-size: rem(12);
        color: var(--grayishBlue);
        margin-top: rem(11);
      }
    }
  }
}
